{% extends 'base.html' %}

{% block content %}
<style>
  .center {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
  }
</style>

<div class="center">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tortor eu quam ultrices, vel semper odio pellentesque. Aliquam tristique augue a ante ultricies, vel hendrerit quam viverra. Donec vel eleifend justo. Etiam tempor orci sit amet neque bibendum dapibus. Fusce consectetur eros eu orci varius posuere. Vivamus dapibus blandit ex, vel convallis justo condimentum id.</p>
  <p>Pellentesque malesuada tristique erat. Sed euismod enim ac sem laoreet, in volutpat nisl tempus. Nam blandit justo sit amet diam fermentum tempus. Nam auctor turpis vitae mi posuere tempus. Sed non tempor nulla, ac lacinia est. Nullam bibendum tristique diam vel lacinia. Ut rutrum convallis nunc, sed lobortis nunc pretium sed. Vestibulum rutrum, justo et tempor egestas, tellus purus viverra enim, ac pharetra erat lorem non orci. Nulla facilisi. Nunc facilisis neque velit, a ullamcorper felis scelerisque in. Etiam sit amet congue tellus.</p>
</div>
{% endblock content %}
